 <ui:composition
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
 > 
        
          <h:form id="crudClient" styleClass="formulaire">
            
            <f:view>  
                   
              <ui:include   src="/WEB-PAGES/blocs/blocselectionclientPourCrud.xhtml" />
        
              <p:separator  styleClass="separateur"/>
            
              <ui:include   src="/WEB-PAGES/blocs/blocinfosclientPourCrud.xhtml"/>
            
              <p:separator  styleClass="separateur"/> 
           
            </f:view>  
             
           </h:form>  
     
 </ui:composition>      
    
   
