
<ui:composition
    
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
 
  <p:panel id="infosclientPourCrud"      
           styleClass="infosClient" 
           toggleable="true"   collapsed="false" 
           closeSpeed="1500"   toggleTitle="Réduire" 
  >  
   <f:facet name="header" > Mise à Jour des Clients </f:facet>
     
   <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
        
      <p:outputLabel value="Nom"   /> 
      <h:inputText value="#{controleurSelectionClient.clientSel.nomCli}"/>
         
      <p:outputLabel value="Adresse" for="adressecli"/>
      <h:inputText id="adressecli" value="#{controleurSelectionClient.clientSel.adrCli}"/>
      
      <p:outputLabel value="Région" for="region"/>                          
      <p:selectOneMenu id="region" value="#{controleurCrudClient.clientSel.laRegion}"  
                       filter="true" filterMatchMode="startsWith"  style="width: 60%; height: 80%;"
                       
      >   
         
          <f:selectItems value="#{controleurCrudClient.lesRegions}"  
                         var="reg"   
                         itemLabel="#{reg.nomRegion}" itemValue="#{reg}" 
          />     
          <p:ajax event="change" update="@parent" />
      </p:selectOneMenu>

    </p:panelGrid>   
  </p:panel>
    
    
  <p:commandButton value="Enregister les modifications"  
                   actionListener="#{controleurCrudClient.enregisterModifications()}"
                   update=":crudClient @(form)"
   />    
 
  <p:commandButton value="Supprimer le Client"  onclick="confirmationSupp.show();" />
  
  <p:dialog  id="dialog" header="Êtes vous sur de vouloir supprimer le Client  #{controleurCrudClient.clientSel.nomCli}"
             widgetVar="confirmationSupp" 
             modal="true"  appendToBody="true" hideEffect="explode"  position="380,450">  
                
      <p:commandButton value="Oui"     oncomplete="confirmationSupp.hide();"  
                       action="#{controleurCrudClient.supprimerLeClient()}"
                       update=":crudClient @(form) "
      />  
      <p:commandButton value="Non" onclick="confirmationSupp.hide();" />   
                 
  </p:dialog>  
   
   <p:commandButton value="Ajouter un client"  
                    actionListener="#{controleurCrudClient.ajouterClient()}"
                    update=":crudClient @(form)"
  />
   
</ui:composition>  
   

